* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

main {
  margin: 1em auto;
  border: 1em solid #bdc3c7;
  padding: 1em;
  max-width: 980px;
  font-family: "Open Sans", sans-serif;
}

.blog-post {
  margin-bottom: 1.5em;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  margin: 0.75em 0.5em 0.5em;
  color: #2c3e50;
}

.blog-post-date {
  font-weight: 600;
  font-size: 1.1em;
  color: #3498db;
  margin-left: 0.95em;
}

.blog-post p:nth-of-type(1){
  border-left: 0.4em solid #bdc3c7;
  padding-left: 0.4em;
}

.blog-post p {
  margin: 1em;
  line-height: 1.25em;
}

hr {
  color: #bdc3c7;
}
